<div class="card text-center">
  <div class="card-header">
     <button type="button" class="btn btn-default btn-sm float-left"  (click)="createJira()"> 
       <i  style="vertical-align: middle !important;" class="material-icons" >add</i>
      </button>
      
      <label md-icon-button md-primary class="float-right"> 
         <span mdTooltip="Edit"> <i class="material-icons icon_edit" style="padding-left: 1em;">mode_edit</i></span>
       </label>
       <label md-icon-button md-primary class="float-right"> 
         <span mdTooltip="Edit"> <i class="material-icons icon_delete" style="padding-left: 1em;"><i class="material-icons">delete_forever</i></i></span>
       </label>

    <h4>List Of Consumers
    </h4>
  </div>
  <div class="card-block">
    <h4 class="card-title">Special title treatment</h4>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>